
.chicken-section {
    overflow: hidden;

    img {
        width: 73%;
        rotate: 270deg;
        margin-top: -600px;
        margin-left: 153px;
    }

    .section {
        @include flex;
        width: 80%;
        margin: 0 auto;
        margin-top: -608px;
        padding-bottom: 55px;

        .text {

            width: 48%;
            z-index: 1;

            h1 {
                font-family: $mainfont;
                color: $yellcolor;
                font-size: 5.5rem;
                font-weight: 300;
            }

            p {
                width: 115%;
                color: #fff;
                font-size: 1.2rem;
                line-height: 20px;
            }

            button {
                @include btn;
                margin-top: 25px;
            }
        }

        .right {
            width: 48%;

            img {
                border-radius: 50%;
                margin-top: 15px;
            }
        }
    }
}