
footer {
    background-color: $greycolor;
    margin-top: 60px;

    .big-wrapper {
        @include flex;
        width: 80%;
        margin: 0 auto;
        padding: 130px 0;
        color: #fff;

        .left {
            width: 30%;

            h2 {
                font-size: 1.2rem;
            }

            p {
                padding: 20px 0;
            }

            span {
                background-color: #fff;
                padding: 5px;
                width: 6%;
                margin: 5px 6px;
                font-size: 1.5rem;
                border-radius: 50%;
                color: $greycolor;
            }
        }

        .right {
            width: 68%;
            @include flex;
            justify-content: space-evenly;

            .about {
                h2 {
                    padding-bottom: 10px;
                    font-size: 1.2rem;
                }

                p {
                    padding: 3px 0;
                }
            }
        }
    }
}