
.home {
    width: 100%;
    height: 100vh;
    background-color: $greycolor;

    nav {
        position: absolute;
        @include flex;
        width: 100%;

        .logo {
            width: 40%;

            img {
                width: 35%;
                padding-left: 50px;
            }
        }

        ul {
            @include flex;
            list-style: none;
            padding: 20px;

            li {
                padding: 0 15px;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.2rem;
                }
            }
        }

        p {
            padding: 20px;

            .fa {
                color: #fff;
                font-size: 1.5rem;
            }
        }
        
    }

    .image {
        .one {
            float: left;
            width: 45%;

            img {
                width: 100%;
                height: 100vh;
            }
        }

        .two {
            float: left;
            width: 30%;

            img {
                width: 100%;
                height: 100vh;
                margin: -6px -115px;
            }
        }


    }

    .banner-text {
        position: absolute;
        top: 16%;
        left: 46%;
        right: 17%;

        .vector {
            :first-child {
                width: 5%;
                position: relative;
                left: -25px;
                top: -33px;
            }

            :nth-child(2) {
                width: 11%;
                position: relative;
                top: 127px;
                left: -86px;
            }

            :nth-child(3) {
                width: 3%;
                position: relative;
                top: 314px;
                right: -314px;
            }

            :nth-child(4) {
                width: 8%;
                position: relative;
                top: 177px;
                left: 342px;
            }

            :nth-child(5) {
                width: 16%;
                position: relative;
                top: 10px;
                left: 170px;
            }

            :nth-child(6) {
                width: 17%;
                position: relative;
                top: 315px;
                right: 36px;
            }

            :nth-child(7) {
                width: 5%;
                position: relative;
                top: 285px;
                left: -247px;
            }

            :nth-child(8) {
                width: 5%;
                position: relative;
                top: 277px;
                right: -30px;
            }

            :nth-child(9) {
                width: 5%;
                position: relative;
                top: 75px;
                left: 146px;
            }
        }

        h1 {
            font-family: $mainfont;
            color: $yellcolor;
            font-size: 7rem;
            font-weight: 300;
        }

        p {
            width: 115%;
            color: #fff;
            font-size: 1.2rem;
            line-height: 20px;
        }

        button {
            @include btn;
            margin-top: 25px;
        }
    }
}