.menu-section {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0;

    h1 {
        font-family: $mainfont;
        font-size: 5rem;
        font-weight: 400;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
        padding: 0 80px;
    }

    .img-section {
        display: flex;
        margin: 0 auto;

        .menu {
            width: 80%;
            text-align: center;
            padding: 60px 0;

            img {
                width: 50%;
                border-radius: 50%;
            }

            h2 {
                font-size: 3rem;
                font-family: $mainfont;
                padding: 5px 0;
                font-weight: 400;
            }

            p {
                font-size: 1.2rem;
                padding: 0;
            }
        }
    }
}