.senora-fields {
    padding: 190px 0;
    width: 100%;
    background-image: linear-gradient(rgb(255 204 0 / 82%) 0%, rgb(255 204 0 / 82%) 100%), url(../Images/banner.png);
    background-size: cover;
    background-position: center;
    text-align: center;

    p {
        font-size: 1.6rem;
        line-height: 20px;
        padding: 32px 265px;
    }

    h1 {
        font-family: $mainfont;
        font-size: 3.5rem;
        font-weight: 300;
    }
}