
.statistic-section {
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    background-color: $greycolor;

    .vector {
        position: relative;
        left: -120px;

        :first-child {
            width: 2%;
            position: relative;
            left: -25px;
            top: -33px;
        }

        :nth-child(2) {
            width: 4%;
            position: relative;
            top: 109px;
            left: -158px;
        }

        :nth-child(3) {
            width: 1%;
            position: relative;
            top: 146px;
            left: -28px;
        }

        :nth-child(4) {
            width: 3%;
            position: relative;
            top: 131px;
            left: 517px;
        }

        :nth-child(5) {
            width: 7%;
            position: relative;
            top: 20px;
            left: 350px;
        }

        :nth-child(6) {
            width: 5%;
            position: relative;
            top: -16px;
        }
    }

    h1 {
        font-family: $mainfont;
        color: $yellcolor;
        font-size: 5.5rem;
        font-weight: 300;
    }

    p {
        color: #fff;
        font-size: 1.2rem;
        line-height: 20px;
    }

    .info {
        @include flex;
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;

        .round {
            border: 3px solid #fff;
            border-radius: 50%;
            padding: 32px 35px;

            h1 {
                font-family: $textfont;
                color: $yellcolor;
                font-size: 3.5rem;
                font-weight: 600;
            }

            p {
                color: #fff;
                font-size: 1.2rem;
                line-height: 20px;
                font-weight: 600;
            }
        }
    }
}