@media only screen and (max-width: 830px) {
  .home {
    height: 100vh;
  }
  .home nav ul {
    float: right;
    display: none;
  }
  .home nav ul li {
    padding: 5px;
    float: left;
  }
  .home nav p {
    float: right;
    display: none;
  }
  .home nav li {
    float: none;
    position: relative;
    top: 10px;
    text-align: right;
  }
  .home nav button {
    display: block;
    position: absolute;
    right: 17px;
  }
  .home nav button {
    display: block;
    background: none;
    border: none;
    color: #fff;
  }
  .home nav button .fa {
    font-size: 2.2rem;
    padding: 5px 20px;
  }
  .home nav button .fa-times {
    display: none;
  }
  .home .image {
    display: none;
  }
  .home .banner-text {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 17%;
  }
  .oriantal {
    background-color: #2f2f2f;
  }
  .oriantal img {
    display: none;
  }
  .oriantal .section {
    margin-top: 0;
    padding: 25px 0;
  }
  .oriantal .section .left img {
    display: block;
    margin-left: 5px;
    margin-top: 0px;
  }
  .statistic-section {
    overflow: hidden;
  }
  .chicken-section {
    background-color: #2f2f2f;
  }
  .chicken-section img {
    display: none;
    margin-left: 0;
  }
  .chicken-section .section {
    margin-top: 0;
    padding: 25px 0;
  }
  .chicken-section .section .right img {
    display: block;
    margin-left: 75px;
    margin-top: 0;
  }
  .senora-fields {
    padding: 50px 0;
  }
  .senora-fields p {
    padding: 30px 115px;
  }
  .subscribe-section {
    overflow: hidden;
  }
  .subscribe-section p {
    padding: 30px 75px;
  }
}
@media only screen and (max-width: 560px) {
  .home {
    height: 65vh;
  }
  .home nav .logo img {
    width: 50%;
  }
  .home .banner-text {
    top: 15%;
  }
  .home .banner-text h1 {
    font-size: 4.5rem;
  }
  .home .banner-text .vector {
    display: none;
  }
  .menu-section h1 {
    font-size: 4.5rem;
  }
  .menu-section p {
    padding: 0;
  }
  .menu-section .img-section {
    flex-direction: column;
    align-items: center;
  }
  .menu-section .img-section .menu {
    padding: 20px 0;
  }
  .oriantal {
    width: 100%;
  }
  .oriantal .section .left {
    width: 100%;
  }
  .oriantal .section .left img {
    margin: 0 auto;
  }
  .oriantal .section .text {
    text-align: center;
    width: 100%;
  }
  .oriantal .section .text p {
    width: 100%;
  }
  .oriantal .section .text h1 {
    font-size: 4.5rem;
  }
  .statistic-section .round {
    margin-top: 30px;
  }
  .statistic-section .info {
    padding: 10px 0;
  }
  .statistic-section .text h1 {
    font-size: 4.5rem;
  }
  .chicken-section .section {
    flex-direction: column;
  }
  .chicken-section .section .text {
    text-align: center;
    width: 100%;
  }
  .chicken-section .section .text p {
    width: 100%;
  }
  .chicken-section .section .text h1 {
    font-size: 4.5rem;
  }
  .chicken-section .section .right {
    width: 100%;
  }
  .chicken-section .section .right img {
    margin: 10px auto;
  }
  .senora-fields p {
    padding: 30px 10px;
  }
  .subscribe-section h1 {
    font-size: 4.5rem;
  }
  .subscribe-section p {
    padding: 30px 10px;
  }
  .subscribe-section input {
    width: 130px;
  }
  .subscribe-section label {
    padding: 8px 6px;
  }
  footer .big-wrapper {
    padding: 45px 0;
  }
  footer .big-wrapper .left {
    width: 100%;
    text-align: center;
  }
  footer .big-wrapper .right {
    width: 100%;
    margin-top: 40px;
  }
}/*# sourceMappingURL=phone.css.map */